@{
    Layout = "~/Pages/_Layout";
}

@page
@model Customers.CreateModel

<html>
<body>
    <p>
        Enter your name.
    </p>
    <div asp-validation-summary="All"></div>
    <form method="post">
        <div>Name:<input asp-for="Customer.Name" /></div>
        <input type="submit" />
    </form>
</body>
</html>



